<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-840">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/logo.svg" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                AFK Mobile Arcade is Greensboro's top mobile gaming truck, offering consoles, VR, and multiplayer fun for events like parties and corporate gatherings.
            </p>
            <div class="cs-social">
                 <a href="{{client.socials.facebook}}" class="cs-social-link">
                    <img class="cs-social-icon" src="/assets/svgs/facebook.svg" alt="" width="12" height="12" aria-hidden="true" decoding="async">
                     <img class="cs-social-icon cs-social-alt" src="/assets/svgs/facebook-alt.svg" alt="" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="{{client.socials.instagram}}" class="cs-social-link">
                    <img class="cs-social-icon" src="/assets/svgs/instagram.svg" alt="" width="12" height="12" aria-hidden="true" decoding="async">
                    <img class="cs-social-icon cs-social-alt" src="/assets/svgs/instagram-alt.svg" alt="" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Quick Links</span>
            <ul class="cs-ul cs-ul-1">
                <li class="cs-li">
                    <a class="cs-link" href="/">Home</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/about/">About</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/faq/">FAQ</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/pricing/">Pricing</a>
                </li>
                 <li class="cs-li">
                    <a class="cs-link" href="/reviews/">Reviews</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/contact/">Contact</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact Information</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="tel:{{ client.phoneForTel }}">
                        <img class="cs-contact-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/f-call.svg" alt="phone icon" width="20" height="20" />
                       {{ client.phoneFormatted }}
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:{{ client.email }}">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/f-mail.svg" alt="email icon" width="20" height="20" />
                        Click To Email
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="{{ client.address.mapLink }}" target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/f-pin.svg" alt="pin icon" width="20" height="20" />
                        {{ client.address.lineOne }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            Copyright © {% year %} AFK Mobile Arcade. All Rights Reserved.
        </span>
        {#<div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Privacy Policy</a>
            <a href="" class="cs-bottom-link">Terms Of Use</a>
        </div>#}
    </div>
</footer>
                                