---
description: "AFK Mobile Arcade pricing starts at $399 for 2 hours, with add-ons for VR and extra time. Simple, transparent packages for events in Greensboro, NC."
image: "OPTIONAL - If an image path is specified here, it will be used for that page's OG image. Useful for blog posts (implemented as standard with this kit)"
eleventyComputed:
  title: "{{ page.fileSlug | titleCase }} | {{ client.name }} | {{ client.address.city }}, {{ client.address.state }}"
  permalink: "/{{ page.fileSlug | slugify }}/"
---


{% extends "layouts/base.html" %}

{% block head %}
    
    <link rel="stylesheet" href="/assets/css/{{ page.fileSlug }}.css">

    <!-- Any page-specific tags that belong in the <head> -->


{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-310">
        <div class="cs-container">
            <span class="cs-int-title">Pricing</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/pricing/" class="cs-link cs-active">Pricing</a>
            </div>
        </div>
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/c27.png" | resize({ width: 640, height: 844 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/c27.png" | resize({ width: 640, height: 844 }) | png %}" type="image/png">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/c27.png" | resize({ width: 2048, height: 720 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/c27.png" | resize({ width: 2048, height: 720 }) | png %}" type="image/png">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/c27.png" | resize({ width: 2500, height: 716 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/c27.png" | resize({ width: 2500, height: 716 }) | png %}" type="image/png">
            <img src="{% getUrl "/assets/images/c27.png" | resize({ width: 2500, height: 716 }) | png %}" alt="AFK Mobile Arcade trailer parked in neon-lit cityscape" width="1920" height="550" loading="lazy" decoding="async">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                  Pricing                     -->
    <!-- ============================================ -->

    <section id="pricing-975">
        <picture class="cs-top-shape">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/top-shape.png" | resize({ width: 640, height: 1172 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/top-shape.png" | resize({ width: 640, height: 1172 }) | png %}" type="image/png">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/top-shape.png" | resize({ width: 2048, height: 572 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/top-shape.png" | resize({ width: 2048, height: 572 }) | png %}" type="image/png">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/top-shape.png" | resize({ width: 2500, height: 526 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/top-shape.png" | resize({ width: 2500, height: 526 }) | png %}" type="image/png">
            <img src="{% getUrl "/assets/images/top-shape.png" | resize({ width: 2500, height: 526 }) | png %}" alt="" width="1920" height="404" loading="lazy" decoding="async">
        </picture>

        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Pricing</span>
                <h1 class="cs-title">Our mobile Gaming Services Prices</h1>
                <p class="cs-text">If you are a <strong>church, school, or nonprofit</strong> give us a call as these rates differ from our standard private party packages!</p>
            </div>
            <div class="cs-menu">
                <!--Left Menu-->
                <ul class="cs-menu-group">
                    <li class="cs-menu-item">
                        <h3 class="cs-h3">
                            <span class="cs-header">Standard Package</span>
                            <span class="cs-price">$399</span>
                        </h3>
                        <p class="cs-menu-text">
                            Our standard package is 2 hours.
                        </p>
                    </li>
                    <li class="cs-menu-item">
                        <h3 class="cs-h3">
                            <span class="cs-header">Additional Hours</span>
                            <span class="cs-price">$99</span>
                        </h3>
                        <p class="cs-menu-text">
                            If you need additional hours then whats in the standard package. 
                        </p>
                    </li>
                </ul>
                <!--Right Menu-->
                <ul class="cs-menu-group">
                    <li class="cs-menu-item">
                        <h3 class="cs-h3">
                            <span class="cs-header">Virtual Reality Package</span>
                            <span class="cs-price">$50</span>
                        </h3>
                        <p class="cs-menu-text">
                            Virtual Reality Package is 2 hours.
                        </p>
                    </li>
                    <li class="cs-menu-item">
                        <h3 class="cs-h3">
                            <span class="cs-header">Online Gaming</span>
                            <span class="cs-price">$25</span>
                        </h3>
                        <p class="cs-menu-text">
                            Online Gaming is 2 hours.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="cs-policy">
                <h3 class="cs-h3">
                    <span class="cs-header">
                        Mileage Fee
                    </span>
                </h3>
                <p class="cs-menu-text">
                    Mileage fee will be included if outside of our 25-mile travel radius. 
                    If we can accommodate your same-day booking, a same-day booking fee will apply. 
                    This fee will be discussed with you prior to confirming your event.
                </p>
            </div>

            <div class="cs-policy">
                <h3 class="cs-h3">
                    <span class="cs-header">
                        Cancellation Policy
                    </span>
                </h3>
                <p class="cs-menu-text">
                   To secure your date and time, full payment is required along with a valid credit card. Please note, that a $99 cancellation fee will apply to any cancellations made after payment has been processed. For cancellations within 7 days of the event, no refund will be issued. However, in the case of an emergency, we will work with you to reschedule your event.
                </p>
            </div>
        </div>
    </section>
                                


       <!-- ============================================ -->
    <!--                Why Choose Us                 -->
    <!-- ============================================ -->

    <section id="why-choose-1840">
        <div class="cs-container">
            <div class="cs-image-group">
                <div class="cs-picture">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34519577.190794215!2d-111.58038470821496!3d31.666319031304248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6e1475f47411418d%3A0xb078b7af09636416!2sAFK%20Mobile%20Arcade!5e1!3m2!1sen!2sca!4v1778009099532!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="cs-frame-accent" aria-hidden="true"></div>
            </div>
            <div class="cs-content">
                <span class="cs-topper">Where We Roll</span>
                <h2 class="cs-title">Serving Greensboro and Surrounding Communities</h2>
                <p class="cs-text">
                    From Greensboro to Winston-Salem, Raleigh to Charlotte, we travel across North Carolina to bring the ultimate mobile gaming experience right to your event.
                </p>
                <h3 class="cs-h3">Areas We Travel To</h3>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Archdale
                    </li>
                     <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Durham
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        High Point
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Asheboro
                    </li>
                      <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Eden
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Hillsborough
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Burlington
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Elkin
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Jamestown
                    </li>
                     <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Chapel Hill
                    </li>
                     <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Elon
                    </li>
                     <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Julian
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Charlotte
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Gibsonville
                    </li>
                     <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Kernersville
                    </li>
                     <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Clemmons
                    </li>
                     <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        Greensboro
                    </li>
                    <li class="cs-li">
                        <img class="cs-check-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/check.svg" alt="checkmark" width="20" height="20">
                        King
                    </li>                    
                </ul>
            </div>
        </div>

        <picture class="cs-bottom-shape">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/bottom-shape.png" | resize({ width: 640, height: 1172 }) | avif %}" type="image/avif">
            <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/bottom-shape.png" | resize({ width: 640, height: 1172 }) | png %}" type="image/png">
            <!--Tablet Image-->
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/bottom-shape.png" | resize({ width: 2048, height: 572 }) | avif %}" type="image/avif">
            <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/bottom-shape.png" | resize({ width: 2048, height: 572 }) | png %}" type="image/png">
            <!--Desktop Image-->
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/bottom-shape.png" | resize({ width: 2500, height: 526 }) | avif %}" type="image/avif">
            <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/bottom-shape.png" | resize({ width: 2500, height: 526 }) | png %}" type="image/png">
            <img src="{% getUrl "/assets/images/bottom-shape.png" | resize({ width: 2500, height: 526 }) | png %}" alt="" width="1920" height="404" loading="lazy" decoding="async">
        </picture>
         <img class="cs-graphic" src="/assets/images/graphic-2.png" alt="arcade console" aria-hidden="true" width="326" height="190" />
    </section>
                  
    {% include 'sections/cta.html' %} 

{% endblock %}
