/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-2198 {
        padding: var(--sectionPadding);
        background-color: var(--primaryBgAlt);
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-flex {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .cs-topper {
                width: 100%;
                text-align: center;
            }
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            max-width: (400/16rem);
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (32/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            grid-column: span 12;
            position: relative;

            &:hover {
                .cs-h3 {
                    color: var(--secondary);
                }

                .cs-picture {
                    border: 2px inset #fff;
                    &:before {
                        background-color: var(--primaryShade-30);
                    }
                    img {
                        opacity: .3;
                    }
                }

                .cs-frame-accent {
                    &:before,
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }


        .cs-frame-accent {
            &:after {
                content: url("/assets/svgs/frame-1.svg");
                width: auto;
                height: auto;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                opacity: 0;
                transition: opacity 0.3s;
            }

            &:before {
                content: url("/assets/svgs/frame-2.svg");
                width: auto;
                height: auto;
                position: absolute;
                right: 0;
                /* idk why weird margin */
                bottom: -6px;
                z-index: 1;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }

        .cs-link {
            text-align: center;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-picture {
            width: 100%;
            /* 240px - 340px */
            height: clamp(15rem, 30vw, 21.25rem);
            margin-bottom: (44/16rem);
            background-color: #000;
            display: flex;
            justify-content: center;
            position: relative;
            border: 2px transparent #fff;
            transition: border 0.3s;

            &::before {
                content: "";
                width: 100%;
                height: (20/16rem);
                margin: 0 (32/16rem);
                background-color: #14273F;
                display: block;
                position: relative;
                top: 100%;
                bottom: 0;
                z-index: 10;
                transition: background-color .3s;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform .6s, opacity .3s;
            }
        }

        .cs-flex {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-number {
            /* 49px - 72px */
            font-size: (48/16rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--primary);
            opacity: 0.2;
            position: absolute;
            z-index: 0;
        }

        .cs-h3 {
            width: 100%;
            font-size: clamp(1.25rem, 4vw, 2.4375rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 (20/16rem) 0;
            color: var(--headerColor);
            z-index: 1;
            transition: color 0.3s;
            text-align: center;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-2198 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            flex-direction: row;

            .cs-topper {
                text-align: start;
            }
        }

        .cs-card-group {
            max-width: none;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-flex {
            align-items: start;
            justify-content: start;
        }

        .cs-text {
            width: auto;
            text-align: start;
            max-width: (540/16rem);
        }

        .cs-topper,
        .cs-title {
            width: 100%;
            text-align: start;
            margin: 0;
        }

        .cs-item {
            grid-column: span 4;
        }

        .cs-picture {
            margin-bottom: (52/16rem);
        }
    }
}

/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-2389 {
        padding: var(--sectionPadding);
        background-color: var(--primaryBg);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            /* 40px - 48px */
            gap: clamp(2.5rem, 5vw, 3rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: none;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            width: 100%;
            max-width: 100%;
            margin: 0 0 (16/16rem) 0;
        }

        .cs-faq-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: stretch;
            flex-direction: column;
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            border-bottom: 1px solid #E8EBEF;
            transition: border-bottom 0.3s;

            &.active {

                border-bottom: 1px solid var(--primary);
                .cs-button {
                    color: var(--secondary);
                    .cs-indicator {
                        &:before {
                            transform: translate(-50%, -50%) rotate(360deg);
                        }

                        &:after {
                            transform: translate(-50%, -50%) rotate(0deg);
                            background-color: var(--secondary);
                        }
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px bottom */
                    padding: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 24px */
            padding: clamp(1rem, 2.3vw, 1.5rem) 0;
            border: none;
            background: transparent;
            color: var(--headerColor);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            .cs-indicator {
                width: (24/16rem);
                height: (24/16rem);
                position: relative;
                z-index: 1;

                &:before {
                    /* left line */
                    content: '';
                    width: (12/16rem);
                    height: (2/16rem);
                    background-color: white;
                    opacity: 1;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: transform .5s;
                }

                &:after {
                    /* right line */
                    content: '';
                    width: (12/16rem);
                    height: (2/16rem);
                    background-color: white;
                    opacity: 1;
                    border-radius: 2px;
                    position: absolute;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(90deg);
                    transition: transform .5s;
                }
            }
        }

        .cs-button-text {
            width: 90%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 100%;
            max-width: none;
            height: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(2.3vw, .916rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (597.5/16em);
            height: (673.15/16em);
            order: -1;
            position: relative;
            /* prevents flexbox from squishing it */
            flex: none;
            margin-top: (40/16em);

            .cs-frame-accent {
                &:after {
                    content: url("/assets/svgs/frame-1.svg");
                    width: auto;
                    height: auto;
                    position: absolute;
                    left: 2px;
                    top: calc(-2.375em + 2px);
                    z-index: 1;
                }

                &:before {
                    content: url("/assets/svgs/frame-2.svg");
                    width: auto;
                    height: auto;
                    position: absolute;
                    right: 2px;
                    bottom: calc(2.375em - 2px);
                    z-index: 1;
                }
            }

            &::before {
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                top: -(36/16em);
                left: 2px;
                bottom: 0;
                content: "";
                position: absolute;
                background: var(--primaryBg);
                z-index: -1;
                clip-path: polygon(0 0, 95% 0, 100% 5%, 100% 80%, 100% 100%, 5% 100%, 0 95%, 0% 20%);
            }

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                bottom: (38/16em);
                position: absolute;
                z-index: -2;
                background: white;
                clip-path: polygon(0 0, 95% 0, 100% 5%, 100% 80%, 100% 100%, 5% 100%, 0 95%, 0% 20%);
            }
        }

        .cs-picture {
            width: calc(37.34375em - 4px);
            height: 37.34375em;
            overflow: hidden;
            display: block;
            position: absolute;
            bottom: calc(2.375em + 2px);
            left: 50%;
            transform: translateX(-50%);
            clip-path: polygon(0 0, 95% 0, 100% 5%, 100% 80%, 100% 100%, 5% 100%, 0 95%, 0% 20%);
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-subscribe {
            /* 32px - 64px top & bottom */
            /* 16px - 48px */
            padding: clamp(1.75rem, 2.2vw, 2.5rem) clamp(3.5rem, 5.2vw, 4rem);
            box-sizing: border-box;
        }

        .cs-form {
            display: flex;
            flex-direction: column;
            gap: (8/16rem);
            position: relative;
            z-index: 1;
        }

        .cs-h3 {
            /* 25px - 31px */
            font-size: clamp(1.5625rem, 3vw, 1.9375rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (16/16rem);
            color: var(--headerColor);
            text-align: center;
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-input {
            font-size: (16/16rem);
            width: 100%;
            /* 46px - 56px */
            height: clamp(2.875rem, 9vw, 3.5rem);
            margin: 0;
            padding: 0;
            padding-left: (20/16rem);
            border: none;
            background-color: #fff;
            /* prevents padding from adding to width and height */
            box-sizing: border-box;
            display: block;
            position: relative;
            z-index: 1;
            box-shadow: 4px 4px 0px 0px var(--primary);

            &::placeholder {
                color: var(--primaryShade-10);
            }
        }

        .cs-submit {
            line-height: (46/16rem);
            width: 100%;
            border: none;
            box-shadow: none;

        }

        img {
            width: 100%;
            height: auto;
        }

        .cs-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.08;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #faq-2389 {
        .cs-input {
            width: 100%;
            padding-right: (170/16rem);
        }

        .cs-submit {
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: (5/16rem);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #faq-2389 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            width: 100%;
            padding: 0;
        }
    }
}